@model RezaHub.ViewModels.GroupVM

@{
    ViewData["Title"] = "Groups";
}

    <table class="table table-bordered table-hover">
        <thead>
            <tr>Groups</tr>
        </thead>
        <tbody>
            @foreach (var group in Model.Groups)
            {
                <tr>
                    <td>@Html.ActionLink(group.Name, "detail", "Movies", new { id = group.Id }, null) </td>
                </tr>
            }
        </tbody>

    </table>

