@model RezaHub.ViewModels.UserFormViewModel

@{
    ViewData["Title"] = "List User";
}

<h1>Users</h1>

@if ( Model == null )
{
<p>We dont have any User yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>User</th>
                <th>Email</th>
                <th>Group</th>
            </tr>
            
        </thead>
        <tbody>
            @foreach(var user in Model.Users)
            {
            <tr>
                <td>@Html.ActionLink(user.Name, "Edit", "User", new { id = user.Id }, null) </td>
                <td>@user.Email</td>
                <td>@user.GroupId</td>
            </tr>
            }
        </tbody>

    </table>

}


