@model UserFormViewModel

@{
    ViewData["Title"] = "List User";
}



@if ( Model == null )
{
<p>We dont have any User yet.</p>
}
else
{
    <table id="users" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>User</th>
                <th>Email</th>
                <th>Group</th>
                <th>Delete</th>
            </tr>
            
        </thead>
        <tbody>
            @foreach(var user in Model.Users)
            {
            <tr>
                <td>@Html.ActionLink(user.Name, "Edit", "User", new { id = user.Id }, null) </td>
                <td>@user.Email</td>
                <td>@user.GroupId</td>
                <td>
                    <button data-user-id="@user.Id" class="btn-link js-delete">Delete</button>
                </td>
            </tr>
            }
        </tbody>

    </table>

}
@section scripts
{
    <script>
        $(document).ready(function () {
          var table =  $("#users").DataTable();

            $("#users").on("click",".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this user?", function (result) {
                    if (result) {
                        $.ajax({
                        url: "/api/users/" + button.attr("data-user-id"),
                        method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                        }
                    });

                    }
                });
                
            });
        });
    </script>
}


